---
layout: default
title: Blog
---
<div class="row flex-left">
    <h1 class="padding-left-large text-muted margin-top-none
      margin-bottom-none">Blog Posts</h1>
</div>
<hr/>
<div class="row flex-spaces">
  {% assign published_posts = site.posts | where: 'published', true %}
  {% if published_posts.size > 0 %}
    {% for post in published_posts %}
    <div class="card" style="width: 20rem;">
      <h4 class="text-primary">{{ post.title }}</h4>
      <p class="text-muted">{{ post.excerpt }}</p>
      <a href="{{ post.url }}" class="paper-btn">Let's read this!</a>
    </div>
    {% endfor %}
  {% else %}
  <p class="text-primary">Oh no! We've got no posts for ya! :scream_cat:</p>
  {% endif %}
</div>

