---
layout: default
title: posts
display_title: posts
---
<div class="row flex-spaces">
  {% assign published_posts = site.posts | where: 'published', true %}
  {% if published_posts.size > 0 %}
    {% for post in published_posts %}
    <div class="card" style="margin:8px;width:25rem;">
      <div class="card-body">
        <h4 class="card-title">
          {{ post.title }}
        </h4>
        <p class="card-text">
          {{ post.excerpt }}
        </p>
        <a href="{{ post.url }}" class="paper-btn"
        title="Read '{{ post.title }}'">
          Let's read this!
        </a>
      </div>
    </div>
    {% endfor %}
  {% else %}
  <p class="padding-large text-primary">Oh no! We've got no posts for ya! :scream_cat:</p>
  {% endif %}
</div>
