---
layout: default
title: contact
display_title: contact
---
<div class="flex-middle flex-center margin-left-large margin-right-large">
    <p>
      Feel free to reach out on any of the following mediums:
      <br/>
      <ul>
        <li>
          <a href="mailto:{{ site.data.contact.email }}">
            e-mail :envelope: danh@shew.io
          </a>
        </li>
        {% for other_site in site.data.contact.other_sites %}
        {% if other_site.contact_me %}
        <li>
          <a href="{{ other_site.uri }}">
            {{ other_site.name }} {{ other_site.emoji}} {{ other_site.user }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </p>
</div>
