---
layout: default
title: Splatoon
display_title: Splatoon
---
{% assign splatoon = site.data.about.splatoon %}
<div class="margin-left-large margin-right-large">

  {% assign properties = splatoon.properties %}
  <h2 class="margin-bottom-none margin-top-none align-middle">
    <small class="muted">ign: </small>{{ splatoon.ign }}
  </h2>

  <div class="row flex-edges flex-middle">
    {% for prop in properties %}
      <p class="col sm-col-6 md-col-3 margin-top-none margin-bottom-none">
        <small>{{ prop.name }} : </small>
        {{ prop.value }}
      </p>
    {% endfor %}
  </div>

</div>

<div class="margin-left-large margin-right-large">
  <h3 class="margin-bottom-none margin-top-none">Weapons</h3>

  <div class="row flex-edges flex-middle">

    <div class="align-top col sm-col-12 md-col-4">
      <h4 class="margin-top-none margin-bottom-none">Top Weapons</h4>
      <ul>
        {% for weapon in splatoon.top_weapons %}
          <li class="margin-small">
            {{ weapon }}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="align-top col col-fill padding-top-none padding-bottom-none"/>

    <div class="align-top col sm-col-12 md-col-6">
      <h4 class="margin-top-none margin-bottom-none">Class Proficiencies</h4>

      <div class="row flex-edges">
        {% for class in splatoon.class_proficiences %}
          <div class="col col-3 padding-small">
            <p class="muted margin-none">{{ class.name }}</p>
            <div class="progress margin-bottom">
              <div class="bar success w-{{ class.value }}"></div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </div>

</div>

<div class="margin-left-large margin-right-large">
  <h3 class="margin-bottom-none margin-top-none">Experience</h3>

  <div class="row flex-edges flex-middle">

    <div class="align-top col col-12">
      <h4 class="margin-top-none margin-bottom-none">Top Rankings</h4>

      <div class="row flex-edges flex-middle">
        {% for mode in splatoon.solo_rankings %}
          <p class="col sm-col-6 md-col-3 margin-top-none margin-bottom-none">
            <img class="emoji"
              height="20" width="20"
              src="/assets/images/{{ mode.name }}-icon.png"> :
            {{ mode.value }}
          </p>
        {% endfor %}
      </div>
    </div>

    <div class="align-top col col-12">
      <h4 class="margin-top-none margin-bottom-none">Teams Involved In</h4>

      <div class="row flex-edges flex-middle margin-top-small">
        {% for team in splatoon.teams %}
          <p class="margin-small">
            {{ team }}
          </p>
        {% endfor %}
      </div>
    </div>

  </div>

</div>
