---
layout: default
title: Techromancy
display_title: Tech
---
<div class="margin-left-large margin-right-large">
  <h2 class="margin-top-none margin-bottom-none">Education</h2>

  <p>
    I picked up Java in highschool as part of taking AP Computer Science. Maybe
    not the easiest language to understand at the time, but I was motivated
    enough to take on projects like custom Minecraft Bukkit plugins and
    from-scratch Entity Component Systems and Game Engines. Most projects I took
    on had me in way over my head, so naturally, I was rarely able to handle the
    complexity of the problems I took on. I did end up learning tons from these
    experiences as I became exposed to Software Design principles, OOP, and
    other methodologies for tackling complexity.
  </p>

  <p>
    Upon entering college, I got into competitive algorithmic problem solving.
    While I wasn't terribly well-ranked, it did help me improve my problem
    solving skills and exposed me to subjects like Computational Geometry,
    Dynamic Programming, and other problem domains. I got a scholarship for my
    involvement in the school's competitive programming team which helped me in
    getting my Bachelor's in Computer Science.
  </p>

  <p>
    My favorite classes from my program included Computer Graphics, Theory of
    Algorithms, Principles of Programming Languages, and Computer Networking.
  </p>
</div>

<div class="margin-left-large margin-right-large">
  <h2 class="margin-top-none margin-bottom-none">Career</h2>

  <p>
    While in my first year of college, I joined Ultimate Software as an intern.
    I moved through a development team and a support team before I started my
    work in a DevOps-focused team. After interning for over 2 years, I finally
    joined full time before graduating from college.
  </p>

  <p>
    My work at Ultimate focuses on developing and operating tooling and services
    that are consumed by internal development teams. I've written appliance
    configuration code in Chef, worked on an in-house deployment platform using
    Python and Terraform, and collaborated heavily on our first internal
    Kubernetes offering to keep parity with our public cloud offerings.
  </p>

  <p>
    In my time at Ultimate, I've taken leadership training, become a certified
    Google Cloud Architect, participated in a few hackathons, and attended
    HashiConf. I'd like to continue advancing my career in Site Reliability
    Engineering but am also open to other career fields in my interests.
  </p>
</div>

<div class="margin-left-large margin-right-large">
  <h2 class="margin-top-none margin-bottom-none">Interests</h2>

  <div class="row flex-spaces">
    {% assign topics = site.data.about.techromancy.topics | sort: "name" %}
    {% for topic in topics %}
      <div class="col md-col-6 sm-col-12 padding-none">
        <h3 class="margin-top-none margin-bottom-none">{{ topic.name }}</h3>

        <div class="row flex-spaces">
          <div class="col">
            <p class="margin-top-none margin-bottom-none">Amount of Interest</p>
            {% assign percent = topic.interest | divided_by: 5.0 | times: 100 | round %}
            <div class="progress margin-bottom">
              <div class="bar secondary w-{{ percent }}"></div>
            </div>
          </div>

          <div class="col">
            <p class="margin-top-none margin-bottom-none">Amount of Experience</p>
            {% assign percent = topic.competence | divided_by: 5.0 | times: 100 | round %}
            <div class="progress margin-bottom">
              <div class="bar w-{{ percent }}"></div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="margin-left-large margin-right-large">
  <h2 class="margin-top-none margin-bottom-none">Technologies</h2>

  <div class="row">
    {% assign groups = site.data.about.techromancy.technologies | sort: "name" %}
    {% for group in groups %}
      <div class="collapsible col col-12">
        {% assign slug = group.name | downcase | replace: " ", "_" %}
        <input id="collapsible_{{ slug }}" type="checkbox" name="collapsible">
        <label for="collapsible_{{ slug }}" class="title">{{ group.name }}</label>
        <div class="collapsible-body">
          <table class="table-hover">
            <thead>
              <tr>
                <th>Technology</th>
                <th>Years of Experience</th>
              </tr>
            </thead>
            <tbody>
            {% assign techs = group.techs | sort: "experience" | reverse %}
            {% for tech in techs %}
              <tr>
                <td class="title">{{ tech.name }}</td>
                <td>{{ tech.experience }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
