@font-face {
    font-family: 'VT323';
    src: url('VT323-Regular.woff2') format('woff2'),
        url('VT323-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jacquard 12';
    src: url('Jacquard12-Regular.woff2') format('woff2'),
        url('Jacquard12-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jersey 20';
    src: url('Jersey20-Regular.woff2') format('woff2'),
        url('Jersey20-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jersey 20 Charted';
    src: url('Jersey20Charted-Regular.woff2') format('woff2'),
        url('Jersey20Charted-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DotGothic16';
    src: url('DotGothic16-Regular.woff2') format('woff2'),
        url('DotGothic16-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

