/* Emojii
--------- */
.emoji {
  border: 0;
  display: inline;
}

/* Auto-Titlecase
----------------- */
.title {
  text-transform: capitalize;
}

/* Center-Align Tables
---------------------- */
table thead tr th,
table tbody tr td {
  text-align: center;
  vertical-align: middle;
}

/* Justify Paragraphs
--------------------- */
p {
  text-align: justify;
  text-justify: inter-word;
}

/* Darken Card Boders
--------------------- */
.card {
  border: 2px solid #41403e;
}

/* Soften Background
-------------------- */
body {
  background-color: #fffcf4
}

/* Modal Overlays
-------------------- */
.modal-overlay {
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  left: 50%;
}

p.modal-overlay {
  min-width: 75%;
  max-width: 90%;
  top: 65%;
  transform:translate(-50%,0%);
  opacity: 80%;
  text-align: justify;
}

img.modal-overlay {
  max-width: 90%;
  top: 45%;
  transform:translate(-50%,-40%);
}

/* Download Button
-------------------- */
.btn-download {
  color: var(--primary-light);
  cursor: pointer;
  font-size: 30px;
  height: 1.1rem;
  position: absolute;
  right: 2.5rem;
  text-decoration: none;
  top: 1rem;
  width: 1.1rem;
}
