/* Emojii
--------- */
.emoji {
  border: 0;
  display: inline;
}

/* Auto-Titlecase
----------------- */
.title {
  text-transform: capitalize;
}

/* Center-Align Tables
---------------------- */
table thead tr th,
table tbody tr td {
  text-align: center;
  vertical-align: middle;
}

p {
  text-align: justify;
  text-justify: inter-word;
}
