<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/paper.min.css"/>
    <link rel="stylesheet" href="/assets/css/custom.css"/>

    <script type="text/javascript" src="/assets/js/scripts.js">
    </script>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", (event) => {rotate_salutations();})
    </script>
  </head>
  <body>
    <div class="row flex-center">
      <div class="sm-11 md-10 lg-8 col">
        {{ content }}
      </div>
    </div>
  </body>
</html>
