---
layout: base
---
{% include header.html %}
<div class="row flex-center padding-bottom-none padding-top-none">
  <article class="article col col-9 padding-top-none padding-bottom-none">
    <p class="article-meta text-muted padding-bottom-none">
      Published {{ page.date | date_to_string }} ||
      Written by <a href="/about" class="text-primary">Dan</a>
    </p>
    <p class="text-primary margin-top-none">
      {{ content }}
    </p>
    {% if page.scans and page.scans.size > 0 %}
    <div class="row flex-spaces">
      {% for scan in page.scans %}

      {% capture scan_path %}scans/{{ scan.name }}{% endcapture %}
      {% capture src %}{{ site.data.spaces.url }}/{{ scan_path | cgi_encode }}{% endcapture %}
      {% capture modal_name %}scanmodal-{{ forloop.index }}{% endcapture %}

      <label class="sm-8 md-6 lg-4 col" for="{{ modal_name }}">
      <img src="{{ src }}"
           style="cursor:pointer"
           alt="{{ scan.description }}"/>
      </label>
      <input class="modal-state" id="{{ modal_name }}" type="checkbox">

      <div class="modal">
        <label class="modal-bg" for="{{ modal_name }}"/></label>
        <div>
          <label class="btn-close" for="{{ modal_name }}">X</label>
          <img src="{{ src }}"
	       style="position:absolute;top:45%;left:50%;transform:translate(-50%,-40%)"
	       class="modal-overlay no-border"
               alt="{{ scan.description }}"/>
	  {% if scan.details %}
	  <p class="modal-overlay padding-small background-primary" >
	    {{ scan.details }}
	  </p>
	  {% endif %}
        </div>
      </div>

      {% endfor %}
    </div>
    {% endif %}
  </article>
</div>
{% include blog_nav.html %}
<hr/>
{% include footer.html %}
